body {
  margin: 0;
  padding: 0;
  background-image: url(./img/header-background-mobile.svg);
  background-repeat: no-repeat;
  background-color: white;
}

.background {
  position: absolute;
  width: 100%;
  margin-top: 104px;
  z-index: -1;
}

a {
  text-decoration: none;
}

.logo {
  animation-duration: 2s;
  animation-name: rotationn;
}

@keyframes rotationn {

}

h1 {
  width: 100px;
  height: 40px;
  margin: 0 12px;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding-left: 12px;
  padding-right: 24px;
}

h2 {
  margin: 114px 24px 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
}

.description {
  display: flex;
  margin: 0 24px 12px;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
}

.connect {
  margin: 0 24px 12px;
  padding: 0;
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.social {
  max-width: 170px;
  display: flex;
  margin: 12px 24px;
  justify-content: space-between;
}

.icon {
  width: 20px;
  height: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.works {
  display: grid;
  grid-template-rows: 4fr;
}

.projects {
  background-color: rgb(250, 250, 250);
  margin: 44px 24px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.project-image {
  margin: 16px;
  flex: 1;
}

.card-details {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #7a869a;
  margin: 16px;
  display: flex;
  justify-content: space-between;
  margin-right: 30%;
}

.card-details > :first-child {
  color: #344563;
}

.card-title {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 700;
  display: flex;
  flex: 1;
  margin: 0 16px 16px;
  color: #172b4d;
}

.card-description {
  margin: 0 16px 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.card-list {
  margin-left: 16px;
}

.card-tech {
  display: inline;
  padding: 4px 12px;
  background-color: #ebebff;
  margin: 12px 8px 12px 0;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #6070ff;
}

button {
  margin: 12px 16px;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid hsla(234, 100%, 69%, 1);
  width: 124px;
  height: 48px;
  border-radius: 8px;
  background-color: white;
  color: #396df2;
}

button:hover {
  background-color: #6070ff;
  color: white;
  border: none;
}

button:active {
  background-color: #2230d2;
  color: white;
  border: none;
}

button:disabled {
  background-color: white;
  color: #5e6c84;
  border: hsla(216, 14%, 79%, 1);
}

.aboutme {
  margin-bottom: 24px;
}

.getresume {
  width: 160px;
  margin: 0 24px;
  color: #6070ff;
}

.about-languages-list {
  display: flex;
  flex-direction: column;
}

.about-languages {
  flex: 1;
  margin: 6px 0;
  padding: 10px;
  background-color: #eeeef2;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.small-icon {
  margin: 0 10px;
}

.about-skills {
  display: flex;
  flex-direction: column;
  margin: 36px;
}

.about-skill-list {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
}

.chevron {
  margin: 0 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #6070ff;
  border-top-left-radius: 100px;
}

.contact-form .background-img {
  background-image: url(./img/contact\ form\ shapes-mobile.svg);
  position: absolute;
  background-repeat: no-repeat;
  left: 153px;
  right: 0;
  bottom: 0;
  top: 30px;
}

.contact-me {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.support-msg {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
  margin: 12px 24px;
  color: #fff;
}

.form {
  margin-top: 36px;
  z-index: 1;
}

input {
  display: block;
  padding: 16px;
  margin: 20px 24px;
  width: calc(100% - 80px);
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  border: none;
}

.comment {
  display: block;
  padding: 16px;
  margin: 20px 24px;
  width: calc(100% - 80px);
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  height: 170px;
}

.contact-btn {
  display: block;
  margin: 24px;
}

.menu {
  display: none;
}

.hide-pe-mic {
  display: none;
}

.hide-pe-mic-lista {
  display: none;
}

@media (min-width: 768px) {
  header {
    padding-left: 155px;
    padding-right: 155px;
    padding-top: 15px;
  }

  h2 {
    margin-left: calc((100% - 670px) / 3);
    font-size: 48px;
    line-height: 60px;
    padding-top: 300px;
  }

  .description {
    margin-left: calc((100% - 670px) / 3);
    margin-right: calc((100% - 670px) / 3);
    font-size: 19px;
    line-height: 28px;
  }

  .connect {
    margin-left: calc((100% - 670px) / 3);
    margin-top: 24px;
  }

  .social {
    margin-left: calc((100% - 670px) / 3);
  }

  .works {
    margin-left: calc((100% - 670px) / 6);
    margin-right: calc((100% - 670px) / 6);
    grid-gap: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .projects {
    flex-direction: row;
  }

  .project-image {
    margin: 24px;
  }

  .img-description {
    flex: 1;
  }

  .right {
    flex-direction: row-reverse;
  }

  .card-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    position: absolute;
    margin-top: -105px;
    margin-right: 0;
  }

  .card-details {
    margin-top: 105px;
    justify-content: flex-start;
    margin-right: 0;
  }

  .card-details > * {
    margin-right: 10px;
    font-size: 18px;
    font-weight: 500;
  }

  .card-description {
    margin: 24px 16px;
  }

  .card-list {
    margin: 24px 16px;
  }

  .unu > * {
    margin-left: 48px;
    margin-right: 48px;
  }

  .aboutme {
    padding-top: 140px;
    padding-bottom: 240px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: rgb(250, 250, 250);
    border-top-right-radius: 100px;
    margin-bottom: 0;
  }

  .smalltitle {
    margin-top: 36px;
  }

  .aboutmedetails > * {
    margin-left: calc((100% - 270px) / 3);
    margin-right: 40px;
  }

  .about-languages-list {
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 12px;
    margin-left: -20px;
  }

  .about-languages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0;
    padding-bottom: 20px;
  }

  .small-icon {
    margin: 0 50px 20px 0;
  }

  .forsize {
    font-size: 40px;
    padding-top: 0;
  }

  .socialicons {
    margin-top: 18px;
    margin-bottom: 18px;
  }

  input {
    width: 447px;
  }

  .comment {
    width: 447px;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .support-msg {
    display: flex;
    justify-content: center;
    margin-left: calc((100% - 447px) / 2);
    margin-right: calc((100% - 447px) / 2);
  }

  .contact-me {
    display: flex;
    justify-content: center;
    margin-left: calc((100% - 447px) / 2);
    margin-right: calc((100% - 447px) / 2);
    margin-top: 150px;
  }

  .contact-form {
    margin-top: -100px;
    padding-bottom: 100px;
    background-image: url(./img/contact-form-bg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: 20px;
    background-position-y: 30px;
  }

  .hamburger {
    display: none;
  }

  .menu {
    display: flex;
  }

  .menu > li > * {
    padding: 12px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #344563;
  }

  .projects:hover {
    filter: drop-shadow(0 20px 30px gray);
  }

  .background-top {
    background: rgb(250, 250, 250);
    padding-bottom: 250px;
    border-bottom-left-radius: 100px;
    margin-top: -200px;
    background-image: url(./img/header-bg-big.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: 70px;
    background-position-y: 100px;
  }

  .background {
    display: none;
  }

  .hide-pe-mic {
    display: inline-block;
    flex: 1;
    margin-left: 0;
  }

  .hide-pe-mare {
    display: none;
  }

  .hide-pe-mare-lista {
    display: none;
  }

  .hide-pe-mic-lista {
    display: inline-block;
  }
}
